//  ================================================================================================
//  ? TIP:  It is recommended to use this file for overriding bootstrap variables.
//  ================================================================================================
$primary: #7CAE49;

$font-family-sans-serif: 'Montserrat', Helvetica, Arial, serif !default;
$font-family-monospace: 'Montserrat', Helvetica, Arial, serif !default;